* {
  padding:0;
  margin:0;
  box-sizing:border-box;
  list-style:none;
}

button, a {
  outline:none;
  text-decoration:none;
  border:0;
}

.form {
  display: block;
  width: 600px;
  background:rgba(0,0,0,0.04);
  padding:15px;
}